body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app{
  --active-item: rgb(62, 102, 19);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-custom{
  background-color: rgb(142, 170, 113);
}

.content{
  display: flex;
  flex-grow: 1;
}

.section{
  background-color: var(--active-item);
  min-height: 100%;
  min-width: 100%;
}

